:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grey-blue: hsl(217, 19%, 38%);
    --dark-grey-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    --font: "Manrope", sans-serif;
}

body {
    background: var(--dark-blue);
    min-height: 100vh;
    width: calc(100vw - 40px);
    margin: 0;
    display: grid;
    place-items: center;
    font-family: var(--font);
    font-weight: 800;
    color: var(--desaturated-blue);
    padding: 0 20px;
    font-size: 1.75rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--dark-grey-blue);
    /* width: 100%; */
    padding: 2.6rem 1.5rem;
    /* max-width: 33.75rem; */
    border-radius: 1rem;
    width: clamp(295px, 90%, 34rem);
}

.advice-num p {
    text-transform: uppercase;
    color: var(--neon-green);
    letter-spacing: .2rem;
    font-size: 1rem;
}

#advice-text {
    color: var(--light-cyan);
    font-size: var(--font-size);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

.dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--neon-green);
}

.divider img {
    display: none;
}

@media (hover: hover) {
    .dice:hover {
        box-shadow: 0 0 2.5rem var(--neon-green);
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .divider .mobile {
        display: block;
        margin-bottom: 0.9rem;
    }
}

@media only screen and (min-width: 601px) {
    .card {
        padding: 3.25rem 3rem;
    }

    .divider .desktop {
        display: block;
        margin-bottom: 1.2rem;
    }
}